:root{
    --success-color: #2691d9;
    --error-color: #e74c3c;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(https://i.pinimg.com/564x/78/b8/28/78b8283d2b53832fac96501ccfbc6594.jpg?fbclid=IwAR3nIT2-WFfGQxQdk7U6zTHFzlAY9reYfqiLJ_x0vruo7RbW402Hw2CEYGI);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px ;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{ 
    width: 390px;
    border:2px solid rgba(0 , 0 , 0, 0.5);
    box-shadow: 0 0 30px rgba(0 , 0 , 0, 0.5);
    border-radius: 20px;
    background: rgba(230, 227, 227, 0.56);
    display: block;
    padding: 40px;  
}
.container h1{
    text-align: center;
    font-family: 'Poppins','Arial';
}
.form-control{
    width: 100%;    
    position: relative;
    margin-top: 20px;
}
.form-control input{
    width: 100%;
    height: 50px;
    font-size: 16px;
    outline:none;
    border: 2px solid black;
    padding-left: 40px;
    border-radius: 20px;
    font-family: 'Poppins','Arial';
    background: rgba(255,255,255, 0.7);
}
.form-control ion-icon{
    position: absolute;
    left:10px;
    top: 15px;
    font-size: 20px;
}
.form-control span{
    position: absolute;
    border: 2px solid var(--success-color);
    top: 38px;
    left: -10000px;
    width: 0%;
}
.form-control input:focus ~ span{
    width: 100%;
    border-radius: 20px;
    height: 50px;
    margin-top: -38px;
    left: 0px;
    
}
.form-control.error small{
    color: var(--error-color)
}
.form-control.error input{
    border-bottom: 2px solid var(--error-color);
}
.btn-submit{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border:none;
    outline: none;
    background: var(--success-color);
    color:white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover{
    background: #08609a;
}
.signup-link{
    margin-top: 15px;
    text-align: center;
    font-family: 'Poppins', 'Arial';
}
.signup-link a{
    color: var(--success-color);
    text-decoration: none;
    cursor: pointer;
    font-family: 'Poppins', 'Arial';
}
.signup-link a:hover{
    text-decoration: underline;
}