:root{
    --success-color: #2691d9;
    --error-color: #e74c3c;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{ 
    width: 390px;
    border:2px solid black;
    border-radius: 20px;
    background-color: transparent;
    display: block;
    padding: 40px;  
}
.container h1{
    text-align: center;
}
.form-control{
    width: 100%;    
    position: relative;
    margin-top: 20px;
}
.form-control input{
    width: 100%;
    height: 50px;
    font-size: 16px;
    outline:none;
    border: 2px solid black;
    padding: 0 0 0 30px;
    border-radius: 20px;
}
.form-control ion-icon{
    position: absolute;
    right:20px;
    top: 15px;
    font-size: 20px;
}
.form-control span{
    position: absolute;
    border: 2px solid var(--success-color);
    top: 38px;
    left: -10000px;
    width: 0%;
}
.form-control input:focus ~ span{
    width: 100%;
    border-radius: 20px;
    height: 50px;
    margin-top: -38px;
    left: 0px;
    
}
.form-control.error small{
    color: var(--error-color)
}
.form-control.error input{
    border-bottom: 2px solid var(--error-color);
}
.btn-submit{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border:none;
    outline: none;
    background: var(--success-color);
    color:white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover{
    background: #08609a;
}
.signup-link{
    margin-top: 15px;
    text-align: center;
}
.signup-link a{
    color: var(--success-color);
    text-decoration: none;
    cursor: pointer;
}
.signup-link a:hover{
    text-decoration: underline;
}