*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-image: url(img/background.jpg);
    background-size: cover;
}
.card {
    width: 90%;
    max-width: 400px;
    background-color: rgb(46, 204, 113,0.7);
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    float: right;
}
.search {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 15px 0 15px 0;
    background: rgb(255, 255,255, 0.5);
    box-shadow: 0 5px 4px rgb(0, 0, 0, 0.3);
}

.content {
    text-align: center;
    color: white;
    margin: 40px;
    transition: 0.4s;
}


.temperature{
    font-size: 65px;
    text-shadow: 4px 4px rgb(0, 0,0, 0.7);
}

.short-dec {
    font-size: 40px;
    font-weight: bold;
    margin: 30px;
}

.more-dec{
    display: flex;
    justify-content: space-between;
}
.more-dec div{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.more-dec div i{
    margin: 5px 0;
}

.hide{
    visibility: hidden;
    opacity: 0;
}

.todolist{
    width: 72.5%;
    height: 1000px;
    margin: 0;
    padding: 0;
}

.content{
    display: none;
}

.logout{
    text-align: end;
}