*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #d7efff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}
.container{
    width: 600px;
    background: rgb(228, 243, 253);
    display: block;
    padding: 40px;  
    top: -50px;
    position: relative;
    align-items: center;
    border: 2px solid black;
    box-shadow: 0 0 5px black;
}
label{
    font-size: 30px;
    padding-right: 20px;
}
.container input{
    width: 60%;
    height: 35px;
    font-size: 20px;
    background: rgb(236, 247, 255);
}

