<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thời tiết</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../model/css/style.css">
</head>
<body>
    <div class="logout">
        <button><a href="../controller/logout.php">Đăng xuất</a></button>

        <button id="qli"><a href="quan_ly_db.php">Hệ thống</a></button>
    </div>
    <div class="card">
        <div> 
            <iframe src="todo_list.html" frameborder="0" class="todolist"></iframe>
        </div>
        <h2>Thông tin thời tiết</h2>
        <input type="text" class="search" placeholder="Nhập tên thành phố">
        <div class="content">
            <h1 class="capital">
                <span class="city"></span>
                <span> </span>
                <span class="country"></span>
            </h1>
            <div class="temperature">
                <span class="value"> </span>
            </div>
            <img src="../model/img/clear.png" class="short-dec">
            <div class="more-dec">
                <div class="visibility">
                    <i class="fa-solid fa-eye"></i>
                    <span></span>
                </div>
                <div class="wind">
                    <i class="fa-solid fa-wind"></i>
                    <span></span>
                </div>
                <div class="smog">
                    <i class="fa-solid fa-smog"></i>
                    <span></span>
                </div>
            </div>
        </div>
    </div>

   
    <script src="../model/js/hieu_ung.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    

</body>
</html>
