<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký thành công</title>
    <link rel="stylesheet" href="../model/css/style_success.css">
</head>
<body>
    <div class="container">
        <img src="https://media.istockphoto.com/id/1245442896/vi/vec-to/%C4%91%C3%A1nh-d%E1%BA%A5u-v%C3%A0o-x%C3%A1c-nh%E1%BA%ADn-ho%E1%BA%B7c-%C4%91%C3%A1nh-d%E1%BA%A5u-bi%E1%BB%83u-t%C6%B0%E1%BB%A3ng-h%C3%ACnh-%E1%BA%A3nh-d%C3%B2ng-cho-c%C3%A1c-%E1%BB%A9ng-d%E1%BB%A5ng-v%C3%A0-trang-web.jpg?s=170667a&w=0&k=20&c=QEtD-lPijsI4KYMQSPkvWvMhbs_63-vtWE8cUb5MGGA=" alt="">
        <h1 class="title">Tạo tài khoản thành công!</h1>
        <button type="submit" class="btn-submit1">Bạn có thể <a href="sign_in.php">đăng nhập</a></button>
</body>
</html>