*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.card {
    width: 100%;
    max-width: 400px;
    height: 100%;
    background: linear-gradient(to top, #3e95cf, #87CEEB);
    margin: 40px 0 0 200px;
    border-radius: 20px;
    padding: 40px 35px 25px;
    text-align: center;
    float: left;
    position: relative;
}
.search {
    width: 100%;
    margin-top: 12px;
    padding: 18px 20px;
    border: none;
    outline: none;
    border-radius: 15px 0 15px 0;
    background: rgb(255, 255,255, 0.5);
    box-shadow: 0 5px 4px rgb(0, 0, 0, 0.3);
}

.content {
    text-align: center;
    color: white;
    margin: 30px;
    transition: 0.4s;
}


.temperature{
    font-size: 65px;
    text-shadow: 4px 4px rgb(0, 0,0, 0.7);
}

.short-dec {
    margin: 15px;
}

.more-dec{
    display: flex;
    justify-content: space-between;
}
.more-dec div{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.more-dec div i{
    margin: 5px 0;
}

.hide{
    visibility: hidden;
    opacity: 0;
}

.todolist{
    width: 120%;
    top : -20px;
    left: 600px; 
    padding: 30;
    position: absolute;
    height: 400px;
    font-size: 22px;
    color: #060101;
    line-height: 40px;
    text-align: center;
}

.content{
    display: none;
}

.logout button{
    width: 80px;
    height: 35px;
    background: rgb(115, 197, 252);
    border: 1.5px solid black;
    right: 0;
    position: absolute;
}
.logout button a{
    text-decoration: none;
    color: black;
    font-family: 'Arial';
    font-weight: 600;
}
#qli{
    position: absolute;
    top: 40px;
}
