<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghi chú</title>
    <link rel="stylesheet" href="style_todolist.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="todo-app">
            <h2>Ghi chú <img src="icon/icon.png"></h2>
            <div class="row">
                <input type="text" id="input-box" placeholder="Nhập ghi chú của bạn">
                <button onclick="addTask()">Add</button>
            </div>
            <ul id="list-container"></ul>
        </div>
    </div>
    <script src="../model/todo_app.js"></script>
</body>
</html>